/* #root {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  display: flex;
  padding: 2em;
}

.currentNumber {
  margin: 12px;
  padding: 12px;
} */
